@import "./mixin";

.sidebar {
  width: 72px;
  height: 91vh;
  padding: 5px 0 0 0;
  background-color: $grey;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
  }
  .home-btn {
    @extend %btn;
  }
  .trending-btn {
    @extend %btn;
  }
  .subscription-btn {
    @extend %btn;
  }
  .library-btn {
    @extend %btn;
  }
  .icon {
    width: 17px;
    margin: 0 0 6px;
    padding: 0 0 2px 0;
  }
  .home-icon {
    width: 20.5px;
  }
  .library-icon {
    width: 21px;
    margin-bottom: 6px;
  }
  .btn {
    &:hover {
      background: darken($grey-white, 33);
      border-color: darken($grey-white, 30);
      cursor: pointer;
    }
  }
}
