@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.primary-navbar {
  width: 100vw;
  height: 56px;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202020;
}

.primary-navbar .container-left {
  width: 185px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-navbar .container-left .hamburger-menu-icon {
  width: 18px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-right: 16px;
  padding: 8px 8px 8px 10px;
}

.primary-navbar .container-left .hamburger-menu-icon:hover {
  cursor: pointer;
}

.primary-navbar .container-left .youtube-btn-link {
  width: 80px;
  margin-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.primary-navbar .container-left .youtube-btn-link img {
  width: 80px;
  height: 18px;
}

.primary-navbar .container-left .youtube-link-ar {
  height: 24px;
  padding-left: 2px;
  font-size: 10px;
  color: #fff;
  vertical-align: top;
  text-transform: uppercase;
}

.primary-navbar .container-left p {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.primary-navbar .container-center {
  width: 728px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-navbar .container-center .container-searchbar {
  width: 638px;
  height: 30px;
  margin-left: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #121212;
  border-width: 2px;
  border: 0.2px solid #313131;
  border-radius: 2px;
  overflow-y: hidden;
}

.primary-navbar .container-center .container-searchbar .searchbar {
  width: 100%;
  height: 30px;
  margin-left: 2px;
  padding: 1px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background-color: #121212;
  border: none;
  font-size: 16px;
  overflow-y: hidden;
  -webkit-appearance: none;
  outline: none;
}

.primary-navbar .container-center .container-searchbar .search-icon {
  width: 50px;
  height: 14px;
  padding: 1px 0px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 8px 8px 8px 10px;
  background-color: #313131;
}

.primary-navbar .container-center .container-searchbar .search-icon:hover {
  cursor: pointer;
}

.primary-navbar .container-center .microphone {
  width: 19px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 8px 8px 8px 10px;
}

.primary-navbar .container-center .microphone:hover {
  cursor: pointer;
}

.primary-navbar .container-right {
  width: 225px;
  height: 40px;
  padding-left: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primary-navbar .container-right .icon {
  width: 17px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-right: 16px;
  padding: 8px;
}

.primary-navbar .container-right .icon:hover {
  cursor: pointer;
}

.primary-navbar .container-right .bell {
  width: 20px;
}

.primary-navbar .container-right .avatar-picture {
  width: 31px;
  height: 31px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 19px;
}

.sidebar .home-btn, .sidebar .trending-btn, .sidebar .subscription-btn, .sidebar .library-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 74px;
  padding-top: 16px;
  padding-bottom: 14px;
  color: #bfbfbf;
  font-size: 9px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.sidebar {
  width: 72px;
  height: 91vh;
  padding-top: 5px;
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .icon {
  width: 17px;
  margin-bottom: 6px;
  padding-bottom: 2px;
}

.sidebar .home-icon {
  width: 20.5px;
}

.sidebar .library-icon {
  width: 21px;
  margin-bottom: 6px;
}

.sidebar .btn:hover {
  background: #3c3c3c;
  border-color: #444444;
  cursor: pointer;
}

.sidebar .home-btn, .sidebar .trending-btn, .sidebar .subscription-btn, .sidebar .library-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 74px;
  padding-top: 16px;
  padding-bottom: 14px;
  color: #bfbfbf;
  font-size: 9px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.secondarybar-container {
  width: 100vw;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.secondarybar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 94.8%;
  height: 59px;
  float: right;
  position: relative;
  z-index: -1;
  background-color: #202020;
  border-top: 1px solid #4b4b4b;
  border-bottom: 1px solid #4b4b4b;
}

.secondarybar .btn {
  margin: 12px 12px 12px 0;
  padding: 0 12px;
  color: #fff;
  background-color: #303030;
  border: 1px solid #4b4b4b;
  border-radius: 50px;
  cursor: pointer;
}

.secondarybar .first {
  margin: 12px 12px 12px 24px;
  color: #000;
  background-color: #fff;
}

.secondarybar p {
  height: 31px;
  line-height: 31px;
  font-size: 14px;
}

.secondarybar-arrow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 106px;
  height: 59px;
  z-index: 1;
  position: absolute;
  background-color: #212121;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(35%, #212121));
  background: linear-gradient(to right, transparent, #212121 35%);
  border-top: 1px solid #4b4b4b;
  border-bottom: 1px solid #4b4b4b;
}

.gradient-container {
  width: 59px;
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1;
  position: absolute;
  background-color: #212121;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(200%, #212121));
  background: linear-gradient(to right, transparent, #212121 200%);
}

.arrow-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}

.arrow-icon {
  width: 11px;
  height: 11x;
  padding: 2px;
  cursor: pointer;
}

.sidebar .home-btn, .sidebar .trending-btn, .sidebar .subscription-btn, .sidebar .library-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 74px;
  padding-top: 16px;
  padding-bottom: 14px;
  color: #bfbfbf;
  font-size: 9px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto";
}
/*# sourceMappingURL=styles.css.map */