$white: #fff;
$grey-black: #121212;
$grey-dark: #181818;
$grey-bg: #202020;
$grey: #212121;
$grey-light-middle: #313131;
$grey-light: #373737;
$grey-white: #909090;
$black: #000;
$grey-15: #4b4b4b;
$grey-AR: #8a8a8a;
